.main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  background-color: rgb(247, 247, 247);
  // background-color: red;
  margin-bottom: 20px;

  .comment-container {
    display: flex;
    margin-top: 15px;
  }
  .main-profile-container {
    display: flex;
    // background-color: green;
    width: 15%;
    justify-content: center;
    margin-left: 20px;
    margin-top: 30px;
    .profile-username {
      display: flex;
      flex-direction: column;
      height: 100px;
      width: 100%;
      // background-color: rgb(177, 104, 104);
      span {
        font-size: 25px;
      }
    }
    .profile-img-container {
      height: 65px;
      width: 35%;
      display: flex;
      // background-color: purple;
      margin-right: 10px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
  .post-container {
    display: flex;
    flex-direction: column;
    width: 27%;
    margin-top: 30px;
    // background-color: rgb(202, 142, 142);
    margin-left: 180px;
    .post {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgb(182, 182, 182);
      margin-bottom: 30px;
      // background-color: rgb(199, 125, 125);
      .likes-container {
        display: flex;
        // background-color: red;

        align-items: center;
        margin-bottom: 5px;
      }
      .post-header {
        display: flex;
        width: 99%;
        background-color: white;
        align-items: center;
        padding: 5px 0px 3px 3px;
        // background-color: Red;
        span {
          font-size: 20px;
          position: relative;
          bottom: 2px;
        }
        img {
          height: 37px;
          width: 40px;
          margin-right: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      img {
        height: 700px;
        width: 100%;
      }
      .post-footer {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        // margin-bottom: 5px;
        padding-bottom: 5px;
        // background-color: rgb(206, 140, 140);
        border-bottom: 1px solid rgb(182, 182, 182);
        .bottom {
          .footer-username {
            font-weight: bold;
            margin-right: 5px;
          }
        }
      }
      .messages-container {
        width: 100%;
        background-color: white;
        padding: 10px 0px;
        form {
          display: flex;
          justify-content: space-between;

          input {
            font-size: 17px;
            margin-left: 2px;
            border: none;
            outline: none;
          }
          button {
            position: relative;
            bottom: 2px;
            margin-right: 8px;
            font-size: 16px;
            color: rgb(80, 165, 214);
            cursor: pointer;
            font-weight: bold;
            border: none;
            background-color: white;
            outline: none;
          }
        }
      }
    }
  }
}
