.login-modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
  .header {
    display: flex;
    padding-bottom: 4px;
    font-size: 25px;
    color: white;
    justify-content: center;
    background: linear-gradient(
      45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    );
  }
  form {
    display: flex;
    // background-color: red;
    // height: 100%;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 5px;
    input {
      // margin-top: 30px;
      height: 25px;
      width: 200px;
      margin: 5px;
      font-size: 16px;
      outline: none;
    }
    input[type="file"] {
      color: transparent;
      margin-left: 100px;
    }
    button {
      width: 80px;
      height: 30px;
      background-color: #405de6;
      border: 1px solid #405de6;
      color: white;
      margin-top: 15px;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #3c56d8;
      border: 1px solid #3c56d8;
    }
  }
}
